@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to WebApp Creted and Deployed by VS2022</h1>
    <p>This message is pushed using Contnious Deployment : GitActions.</p>
</div>
